name: Unit tests

on:
  workflow_call:
    inputs:
      # Still using JSON-encoded arrays for matrix values
      perl_version:
        required: false
        type: string
        default: '["5.24", "5.26", "5.28", "5.30", "5.32", "5.34", "5.36", "5.38", "5.40", "5.42"]'
      os:
        required: false
        type: string
        default: '["windows-latest", "macos-latest", "ubuntu-latest"]'
      testing_context:
        required: false
        type: string
        default: '[ ]'

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        perl: ${{ fromJson(inputs.perl_version) }}

    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}

    steps:
      - uses: ./.github/actions/cpan-test
        with:
          perl_version: ${{ matrix.perl }}
          os: ${{ matrix.os }}
          testing_context: ${{ inputs.testing_context }}

