name: Linting

on:
  workflow_call:
    inputs:
      level:
        type: number
        required: false
        default: 5
jobs:
  linting:
    runs-on: ubuntu-latest
    container: davorg/perl-perlcritic
    steps:
      - uses: actions/checkout@v6
      - name: Perl version
        run: perl -V
      - name: Run perlcritic
        run: |
          perlcritic -${{ inputs.level }} .
        continue-on-error: true

